body {
  font-family: "Microsoft YaHei", "STHeiti", Arial, sans-serif;
  background: #f2f2f2;
  overflow: hidden;
}
h1 {
  font-weight: 700;
}
img {
  border: 0;
}
 .header .m-title {
  position: absolute;
  top: 0.32rem;
  left: 0.512rem;
  height: 1.2rem;
  width: 3.02933333rem;
  line-height: 1.2rem;
  font-size: 0.64rem;
  border-radius: 0.448rem;
  text-align: center;
  background: #5855d6;
  color: #fff;
} 
input {
  outline: none;
}
.domestic .brand-pic {
	width: 100%;
	font-size:26px;
	text-align:center;
}
.brand-pic img{
	display:block;
	width:100%;	
}
.clear:after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
}
/* 控制进图那个页面 */
.index {
  display: -none;
  /* 测试 */
}
.domestic {
  display: block;
}
.overseas {
  display: block;
}
/* End */
.header {
  position: relative;
  width: 100%;
  height: 1.87733333rem;
  border-bottom: 1px solid #e4e4e4;
  background: #fff;
}
.header h1 {
  width: 100%;
  height: 100%;
  font-size: 0.576rem;
  line-height: 1.87733333rem;
}
.m-banner-rela{
	width:100%;
	height:12.8rem;
	margin-top:0.384rem;
}
.m-banner-rela a{
	display:block;
	height:100%;
	width: 100%;
}
.m-banner-rela a img{
	display: block;
	width: 100%;
	height:100%
}
.header span {
  display: block;
  position: absolute;
  right: 0.512rem;
  top: 0.32rem;
  width: 3.02933333rem;
  height: 1.2rem;
  border-radius: 0.448rem;
  line-height: 1.2rem;
  text-align: center;
  font-size: 0.64rem;
  background: #5855d6;
  color: #fff;
  font-weight:700;
}
.content {
  position: relative;
  width: 100%;
  /*height: 9.38666667rem;*/
    overflow: hidden;
  margin-bottom: 0.384rem;
  background: #fff;
  padding-bottom: 10px;
}
.m-code {
  position: relative;
  width: 100%;
  height: 7.25333333rem;
  background: #fff;
}
.m-code p {
  width: 14.93333333rem;
  height: 1.74933333rem;
  margin-left: 0.53333333rem;
  line-height: 1.74933333rem;
  font-size: 0.6rem;
  color: #333;
}
.m-code input {
  width: 14.93333333rem;
  height: 1.664rem;
  margin-left: 0.512rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: "Microsoft YaHei", "STHeiti", Arial, sans-serif;
  font-size: 0.576rem;
  text-indent: 0.36266667rem;
}
.m-btn {
  position: absolute;
  bottom: 1.28rem;
  width: 7.25333333rem;
  height: 1.83466667rem;
  border-radius: 5px;
  font-size: 0.64rem;
  font-family: "Microsoft YaHei", "STHeiti", Arial, sans-serif;
}
.m-code-go {
  left: 0.512rem;
  border: 1px solid #5855d6;
  background: #5855d6;
  color: #fff;
}
.m-code-reset {
  left: 8.192rem;
  border: 1px solid #5855d6;
  background: #fff;
  color: #5855d6;
}
.m-banner {
  width: 100%;
  height: 12.8rem;
  margin-top: 0.384rem;
}
.m-banner a {
  display: block;
  height: 100%;
  width:100%;'
}
.m-banner a img {
 display:block;
 width:100%;
  height: 100%;
}
/* Section domestic */
.domestic .m-code {
}
.domestic .m-banner {

}
.domestic .brand-pic {
  font-size: 26px;
  text-align: center;
}
/* Section overseas */
.overseas .m-code p {
  height: 1.36533333rem;
  line-height: 0.68266667rem;
  margin: 0.512rem 0 0.512rem 0.53333333rem;
}
.overseas .header .m-title-long {
	width: 5.6rem;
}
.info-name,
.info-val {
  float: left;
    min-height: 5.544444rem;
  /*height: 8.53333333rem;*/
    /*overflow: hidden;*/
    margin-top: 0.42666667rem;
}
.info-name p,
.info-val p {
  width: 700rem;
  line-height: 0.85333333rem;
  margin-left: 0.42666667rem;
  font-size: 0.6rem;
  text-indent: 0.512rem;
}
.info-name {
  width: 4.05333333rem;
}
.info-val {
  width: 11.94666667rem;
}
.info-val p {
  margin-left: 0;
}
.query-win {
  background: #fff;
}
.msg-box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.msg-con {
  position: fixed;
  width: 12.16rem;
  height: 6.4rem;
  border-radius: 0.34133333rem;
  background: #fff;
}
.msg-con p {
  width: 10.58133333rem;
  margin: 1.36533333rem 0 0 0.768rem;
  line-height: 1.024rem;
  text-align: center;
  font-size: 0.68266667rem;
  color: #333;
}
.msg-con input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.92rem;
  border-top: 1px solid #e4e4e4;
  border-radius: 0 0 0.34133333rem 0.34133333rem;
  font-family: "Microsoft YaHei", "STHeiti", Arial, sans-serif;
  font-size: 0.72533333rem;
  line-height: 1.92rem;
  background: #fff;
  color: #5855d6;
}

.big-red-font-style{
    font-size: 0.853rem;
    color: red;
    text-align: center;
}

